.chart-card {
  background: #181c3a;
  color     : #fff;
  width     : 100%;
  height    : 100%;

  >.title {
    padding  : 10px 12px;
    font-size: 18px;

    // &::before {
    //   content       : "";
    //   width         : 5px;
    //   height        : 5px;
    //   display       : inline-block;
    //   margin-right  : 5px;
    //   border-radius : 2px;
    //   vertical-align: middle;
    //   background    : #fff;
    // }
  }

  >.body {
    padding: 10px 10px 0 10px;
  }
}