@import './default.scss';

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

:root {
  --theme-body-bgcolor    : #22252a;

  --theme-background-color: #000;
  --theme-color           : #16dad3;
}

body {
  background: var(--theme-body-bgcolor);
  overflow  : hidden;
}

.container {
  padding: 10px;
}

.#{$class-prefix}-flex {
  display: flex;

  &-item {
    flex: 1;


    &:first-child {
      >.chart-card {
        margin-left: 0;
      }
    }

    &:last-child {
      >.chart-card {
        margin-right: 0;
      }
    }
  }
}

.card-title {
  margin-bottom: 15px;
}